openapi: '3.1.0'

info:
  title: Nostrrent Web API
  description: |
    Nostr-centric decentralized Bittorrent content server.
  version: '1.0.0'
  license:
    name: MIT


components:

  parameters:
    NostrrentID:
      name: id
      description: |-
        Identifier for previous upload.
      in: path
      required: true
      schema: { $ref: '#/components/schemas/NostrrentID' }
      allowEmptyValue: false
    Filename:
      name: filename
      description: |-
        Required parameter IF using binary content upload, not 'multipart/form-data'.
      in: query
      required: false
      schema: { type: string }
      allowEmptyValue: false
    V1:
      name: v1
      description: |-
        Optional flag to create v1-only torrents.
        If combined with "v2" it produces hybrid torrent (default behavior).
      in: query
      required: false
      schema: { type: string }
      allowEmptyValue: true
    V2:
      name: v2
      description: |-
        Optional flag to create v2-only torrents.
        If combined with "v1" it produces hybrid torrent (default behavior).
      in: query
      required: false
      schema: { type: string }
      allowEmptyValue: true
    HideServer:
      name: hideServer
      description: |-
        Optional flag to remove references to this server.
        This means that .torrent file and magnet link won't contain web seed information,
        or any other reference to this server.
        **NOTE**: This might make it slow to retrieve content.
      in: query
      required: false
      schema: { type: string }
      allowEmptyValue: true

  responses:
    SignedUploadAccepted:
      description: |
        Content accepted and Nostrrent identifier and Bittorrent content hash returned for signing.
        The hash must signed and included when seeding.
      content:
        application/json:
          schema:
            type: object
            required: [id, hash]
            properties:
              id: { $ref: '#/components/schemas/NostrrentID' }
              hash: { $ref: '#/components/schemas/BTHash' }
            example:
              id: 20251231-1421-LZGZVS
              hash: b2c3d4e5f60718293a4b5c6d7e8f9a0b1c7c9a7a5d8f3e2a1b4c6d8e9f0a1ab2
    InitialUploadAccepted:
      description: |
        Content accepted. Nostrrent identifier returned for subsequently
        adding more files and/or later publishing.
      content:
        application/json:
          schema:
            type: object
            required: [id]
            properties:
              id: { $ref: '#/components/schemas/NostrrentID' }
            example:
              id: 20251231-1421-LZGZVS
    MoreUploadAccepted:
      description: |
        More content accepted.
      content: {}
    UploadRejected:
      description: Upload rejected, reason in body
    TorrentPublished:
      description: Torrent created and published.
      headers:
        Location:
          required: false
          description: Torrent file location
          schema:
            example: https://example.com/xs/20251231-1421-LZGZVS.torrent
        X-Magnet-Link:
          required: true
          description: Bittorrent magnet link
          schema:
            $ref: '#/components/schemas/MagnetLink'
      content:
        application/x-bittorrent: {}


  schemas:
    BTHash:
      oneOf:
        - description: Bittorrent SHA-1 hash (40 hex chars)
          type: string
          pattern: ^[A-Za-z0-9]{40}$
          example: b2c3d4e5f60718293a4b5c6d7e8f9a0b1c7c9a7a
        - description: Bittorrent SHA-256 hash (64 hex chars)
          type: string
          pattern: ^[A-Za-z0-9]{64}$
          example: b2c3d4e5f60718293a4b5c6d7e8f9a0b1c7c9a7a5d8f3e2a1b4c6d8e9f0a1ab2

    NostrrentID:
      description: Nostrrent torrent identifier
      type: string
      example: 20251231-1421-LZGZVS
    PubKey:
      oneOf:
        - description: Nostr public key (Bech32).
          type: string
          pattern: ^npub1[02-9ac-hj-np-z]{58}$
          example: npub1wwyedzdg43sdfnkpzml0lx3stsfaszkehfv2upf3uutdxs8pqtps6wz3ux
        - description: Nostr public key (hexadecimal).
          type: string
          pattern: ^[A-Za-z0-9]{64}$
          example: b2c3d4e5f60718293a4b5c6d7e8f9a0b1c7c9a7a5d8f3e2a1b4c6d8e9f0a1ab2
    HashSig:
      description: Signed Bittorrent SHA-256 hash (128 hex chars)
      type: string
      pattern: ^[A-Za-z0-9]{128}$
      example: bce32eb0e8b705f24ad949f0527c6ca74fa294fef8dbcc5bf8e6718e2c298e128e0794e48f714dbd8044441be1d47b3416b37ec34ad27c980b63bae1b28e5314
    MagnetLink:
      type: string
      example: magnet:?xt=urn:btmh:1220b2c3d4e5f60718293a4b5c6d7e8f9a0b1c7c9a7a5d8f3e2a1b4c6d8e9f0a1ab2
    Proof-JSON:
      type: object
      required: [pubKey, hashSig]
      properties:
        pubKey: { $ref: '#/components/schemas/PubKey' }
        hashSig: { $ref: '#/components/schemas/HashSig' }
    Proof-FormData:
      type: object
      required:
        - hashSig
        - pubKey
      properties:
        pubKey:
          $ref: '#/components/schemas/PubKey'
          description: public key of SHA-256 hash signature
        hashSig:
          $ref: '#/components/schemas/HashSig'
          description: Hexadecimal signature of the SHA-256 hash


paths:

  # One-step upload/publish:

  /torrent/publish:
    post:
      summary: Upload file(s) and publish.
      tags: ['Upload files and publish torrent']
      parameters:
        - $ref: '#/components/parameters/Filename'
        - $ref: '#/components/parameters/V1'
        - $ref: '#/components/parameters/V2'
        - $ref: '#/components/parameters/HideServer'
      description: |-
        Binary single file upload or multipart upload of one or more files (order is preserved in torrent),
        then publish immediately.

        **NOTE**: Filenames will change to preserve ordering and increase portability.
      requestBody:
        description: Binary content, or multipart content
        required: true
        content:
          'multipart/form-data': {}
          '*/*': {}
      responses:
        '201': {$ref: '#/components/responses/TorrentPublished'}
        '400': {$ref: '#/components/responses/UploadRejected'}

  # Multi-step upload/publish:

  /torrent/upload:
    post:
      summary: Upload file(s) (initial)
      tags: ['Multi-step: Upload file(s), then publish later']
      parameters:
        - $ref: '#/components/parameters/Filename'
      description: |-
        Binary single file upload or multipart upload of one or more files (order is preserved in torrent).

        **NOTE**: Filenames will change to preserve ordering and increase portability
      requestBody:
        description: Binary content, or multipart content
        required: true
        content:
          'multipart/form-data': {}
          '*/*': {}
      responses:
        '202': {$ref: '#/components/responses/InitialUploadAccepted'}
        '400': {$ref: '#/components/responses/UploadRejected'}

  /torrent/upload/{id}:
    post:
      summary: Upload additional file(s)
      tags: ['Multi-step: Upload file(s), then publish later']
      parameters:
        - $ref: '#/components/parameters/NostrrentID'
        - $ref: '#/components/parameters/Filename'
      description: |-
        Binary single file upload or multipart upload of one or more files.

        **NOTE**: Filenames will change to preserve ordering and increase portability
      requestBody:
        description: Binary content, or multipart content
        required: true
        content:
          'multipart/form-data': {}
          '*/*': {}
      responses:
        '202': {$ref: '#/components/responses/MoreUploadAccepted'}
        '400': {$ref: '#/components/responses/UploadRejected'}
        '404': {description: Unknown identifier. }

  /torrent/publish/{id}:
    put:
      summary: Begin seeding uploaded files
      tags: ['Multi-step: Upload file(s), then publish later']
      parameters:
        - $ref: '#/components/parameters/NostrrentID'
        - $ref: '#/components/parameters/V1'
        - $ref: '#/components/parameters/V2'
        - $ref: '#/components/parameters/HideServer'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Proof-JSON' }
          application/x-www-form-urlencoded:
            schema: { $ref: '#/components/schemas/Proof-FormData' }

      responses:
        '201': {$ref: '#/components/responses/TorrentPublished'}
        '400':
          description: Seeding failed, see reason in body. Most commonly if signature validation fails.
          content:
            text/plain: {}
        '404': {description: Unknown identifier. }

  # Seed existing torrents:

  /torrent/seed:
    put:
      summary: Seed existing torrent from .torrent file.
      tags: ['Seed existing torrents']
      requestBody:
        description: Torrent file
        required: true
        content:
          'application/x-bittorrent': {}
      responses:
        '200':
          description: Torrent already seeding
        '201':
          description: Torrent successfully accepted
        '400':
          description: Seeding request rejected. See body for reason.

  /torrent/seed/{btHash}:
    put:
      summary: Seed existing torrent from BT hash.
      tags: ['Seed existing torrents']
      parameters:
        - name: btHash
          description: Bittorrent hash (SHA-1 or SHA-256)
          in: path
          required: true
          schema: { $ref: '#/components/schemas/BTHash' }
          allowEmptyValue: false
      responses:
        '202':
          description: Hash accepted, subject to seeding when torrent info is received
        '400':
          description: Seeding request rejected. See reason in body.

  # Signed upload/publish:

  /torrent/signed/upload:
    post:
      summary: Upload files (initial)
      tags: ['Signed upload/publish']
      parameters:
        - $ref: '#/components/parameters/V1'
        - $ref: '#/components/parameters/V2'
      description: |-
        Multipart upload of one or more files (order is preserved in torrent).

        **NOTE**: Filenames will change to preserve ordering and increase portability
      requestBody:
        description: Multipart content
        required: true
        content:
          'multipart/form-data': {}
      responses:
        '202': {$ref: '#/components/responses/SignedUploadAccepted'}
        '400': {$ref: '#/components/responses/UploadRejected'}

  /torrent/signed/upload/{id}:
    post:
      summary: Upload more files
      tags: ['Signed upload/publish']
      parameters:
        - $ref: '#/components/parameters/NostrrentID'
        - $ref: '#/components/parameters/V1'
        - $ref: '#/components/parameters/V2'
      description: |-
        Multipart upload of one or more files (order is preserved in torrent).

        **NOTE**: Filenames will change to preserve ordering and increase portability
      requestBody:
        description: Multipart content
        required: true
        content:
          'multipart/form-data': {}
      responses:
        '202': {$ref: '#/components/responses/SignedUploadAccepted'}
        '400': {$ref: '#/components/responses/UploadRejected'}
        '404': {description: Unknown identifier. }

  /torrent/signed/publish/{id}:
    put:
      summary: Sign and seed uploaded files
      tags: ['Signed upload/publish']
      parameters:
        - $ref: '#/components/parameters/NostrrentID'
        - $ref: '#/components/parameters/V1'
        - $ref: '#/components/parameters/V2'
        - $ref: '#/components/parameters/HideServer'
      requestBody:
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Proof-JSON' }
          application/x-www-form-urlencoded:
            schema: { $ref: '#/components/schemas/Proof-FormData' }

      responses:
        '201': {$ref: '#/components/responses/TorrentPublished'}
        '400':
          description: Seeding failed, see reason in body. Most commonly if signature validation fails.
          content:
            text/plain: {}
        '404': {description: Unknown identifier. }
